/* Note: contact page styles are after the footer styles */

/* fonts */
@font-face {
  font-family: "Delius";
  src: url(../fonts/Delius-Regular.woff2), url(../fonts/Delius-Regular.woff);
}

@font-face {
  font-family: "DeliusSwashCaps";
  src: url(../fonts/DeliusSwashCaps-Regular.woff2), url(../fonts//DeliusSwashCaps-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "DeliusUnicase";
  src: url(../fonts/DeliusUnicase-Regular.woff2), url(../fonts/DeliusUnicase-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "DeliusUnicase-bold";
  src: url(../fonts/DeliusUnicase-Bold.woff2), url(../fonts/DeliusUnicase-Bold.woff);
  font-weight: 700;
}

/* custom properties */
:root {
  --primary-font: "DeliusSwashCaps", cursive;
  --secondary-font: "Delius", cursive;
  --tertiary-font: "DeliusUnicase", cursive;

  --font-color: #000000;

  --regular-weight: 400;
  --bold-weight: 700;

  --theme-color: #ce0000;
  --seconary-color: #000000;
  --tertiary-color: #ffffff;
  --tertiary-color-light: #ffffffbc;

  --website-bg: #ffffff;
  --light-theme-color: #ff8c8e;

  --header-bg: #ce0000;
  --form-bg: #ffffff46;
  --input-bg: #eeeeee;

  --footer-bg: #333333;
  --border-radius: 0.5em;
  --shadow-color: rgba(0, 0, 0, 0.25);
  --box-shadow: 0 0 4px var(--shadow-color);
}

/* dark mode colors*/
/* @media screen and (prefers-color-scheme: dark) {
  :root {
    --website-bg: #4d4d4d;
    --header-bg: #838383;
  }
} */

/* global styles */
html,
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*   box-sizing? */
/* box-sizing property allows us to include the padding and border in an element's total width and height. */
/* By default, the width and height of an element is calculated like this:
width + padding + border = actual width of an element
height + padding + border = actual height of an element */

body {
  background-color: var(--website-bg);
  color: var(--font-color);
}

body.darkMode {
  --website-bg: #4d4d4d;
  --header-bg: #838383;
  --font-color: #ffffff;
}

#toTop {
  display: block;
  width: 3em;
  height: 3em;

  position: fixed;
  right: 1em;
  bottom: 2em;
  z-index: 9999; /* this will make the element on top of the other elements */
  background-color: var(--tertiary-color-light);
  box-shadow: var(--box-shadow);
  border-radius: var(--border-radius);
  backdrop-filter: blur(0.2em);
}

#toTop img {
  width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center;
}

h1 {
  font-family: var(--primary-font);
  font-size: 2em;
  font-weight: var(--regular-weight);
  margin: 0;
}

h1 span {
  color: var(--tertiary-color);
}

h2 {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  text-align: center;
  font-size: 2em;

  margin-bottom: 0.2em;
}

h2::first-letter {
  color: var(--theme-color);
}

p {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
}

h3 {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* TODO: delete this img styles later */
/* 1em = 16px */
img {
  width: 10em;
}

/* *************** */
/* header styles */
/* *************** */
header {
  width: 100%;
  height: 5em;

  display: flex; /* flex default direction is row */
  justify-content: space-between; /* default value is start */
  align-items: center; /* default value is stretch */
  padding: 0 1em; /* top and bottom padding is 0, left and right padding is 1em */
  background-color: var(--header-bg);
}

header button {
  --size: 2em;
  width: var(--size);
  height: var(--size);

  background-color: transparent;
  border: none;
  cursor: pointer;
}

header button:first-of-type {
  order: -1; /* default value is 0 */
}

header button img {
  width: 100%;
}

main section {
  width: 100;
}

/* *************** */
/* navbar */
/* *************** */
header nav {
  background-color: var(--theme-color);

  position: fixed; /* this will make the element position absolute in the body */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999; /* this will make the element on top of the other elements */
  transform: translateX(-100%);

  transition: 0.5s;
}

header nav.navIsOpen {
  transform: translateX(0%);
}

header nav > button {
  width: 4em;
  height: 4em;

  color: white;

  position: absolute;
  right: 2.5em;
  top: 3em;
}

header nav > button img {
  width: 60%;
}

header nav ul {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

header nav ul li {
  width: 17em;
  height: 3em;
  border-radius: var(--border-radius);

  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li.active {
  color: var(--seconary-color);
  background-color: var(--tertiary-color);
}

header nav ul li.active a {
  color: var(--seconary-color);
}

header nav ul li a {
  text-decoration: none;
  font-family: var(--tertiary-font);
  font-size: 1.5em;
  color: var(--tertiary-color);
  text-transform: capitalize;
}

/* *************** */
/* main atyles */
/* *************** */

main {
  padding: 1em; /* padding around the main element for all sides */
}

main > section {
  margin-bottom: 1.5em;
}

/* ***************** */
/* section 1 : intro*/
/* ***************** */

main section:first-of-type {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

main section:first-of-type > div:first-of-type {
  width: 100%;
  height: 17em;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-content: center;
}

main section:first-of-type div:first-of-type p:first-of-type {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 1.8em;
}

main section:first-of-type div:first-of-type p:nth-of-type(2) {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 1em;
}

main section:first-of-type > div:first-of-type div:first-of-type {
  width: 100%;
  height: 4em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

main section:first-of-type > div:first-of-type div a,
main section:first-of-type > div:first-of-type div button {
  font-family: var(--tertiary-font);
  font-weight: var(--bold-weight);
  font-size: 0.8em;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: solid 0.2em var(--theme-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
  background-color: var(--tertiary-color);

  transition: 0.25s; /* this will add a transition effect to the element when it is hovered */
  cursor: pointer; /* this will change the cursor to a pointer when the element is hovered */
}

main section:first-of-type > div:first-of-type div a img,
main section:first-of-type > div:first-of-type div button img {
  --size: 1.8em; /* this is a custom property for the size of the image */
  width: var(--size);
  height: var(--size);
}

main section:first-of-type > div:first-of-type div a {
  color: var(--tertiary-color);
  text-decoration: none;
  border: none;
  background-color: var(--theme-color);
}

main section:first-of-type > div:first-of-type div a:hover {
  background-color: rgb(92, 0, 0);
  transform: scale(1.1);
}

main section:first-of-type > div:first-of-type div a:focus {
  outline: none;

  transform: scale(1.1);
  border: solid 0.3em yellow;
}

/* hover state */
main section:first-of-type > div:first-of-type div button:hover {
  transform: scale(1.1);
}

/* active state */
main section:first-of-type > div:first-of-type div button:active {
  transform: scale(0.9);
}
/* focus state */
main section:first-of-type > div:first-of-type div button:focus {
  outline: none;
  border: solid 0.3em yellow;
}

main section:first-of-type > div:first-of-type > div:last-of-type {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0;
}

main section:first-of-type > div:first-of-type > div:last-of-type p {
  font-size: 1.3em;
  font-weight: var(--bold-weight);
  text-align: center;
  order: 1;
}

main section:first-of-type > div:first-of-type ul {
  background-color: var(--light-theme-color);
  width: 100%;
  height: 3.5em;
  margin-top: 0.5em;
  order: 1; /* this element has flex parent so it can be ordered */

  display: flex; /* this element is also a flex container */
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;

  border-radius: var(--border-radius);
}

main section:first-of-type > div:first-of-type ul li {
  width: 2.5em;
  height: 2.5em;

  animation-name: jumping, rotation;
  animation-duration: 1s, 1.5s;
  animation-iteration-count: 1, infinite;
  animation-delay: 2s, 3.5s;
  /* rotation delay = first-animation-delay  + first-animation-duration  */
  transform: translateY(0) scaleY(1) scaleX(1);
}

@keyframes jumping {
  0% {
    transform: translateY(16px) scaleY(0.5) scaleX(1.1);
  }
  50% {
    transform: translateY(-14px) scaleY(1.5) scale(0.8);
  }
  100% {
    transform: translateY(16px) scaleY(0.5) scaleX(1.1);
  }
}

@keyframes rotation {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

main section:first-of-type > div:first-of-type ul li img {
  width: 100%;
  height: 100%;
}

/* the cover image div  */
main section:first-of-type > div:last-of-type {
  order: -1;
  background-color: rgb(4, 0, 255);
  width: 100%;
  height: 17em;

  border-radius: var(--border-radius);
  overflow: hidden;
}

main section:first-of-type > div:last-of-type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ***************** */
/* section 2 : zones */
/* ***************** */

/* the h2 style are already defined above in the "global styles"  */
main section:nth-of-type(2) ul li {
  position: relative;
}

main section:nth-of-type(2) ul li h3 {
  width: 100%;
  height: 33%;
  position: absolute;
  bottom: 0em;
  z-index: 1; /* this will make the element on top of the other elements */

  display: grid;
  place-items: center; /* this will center the item in the grid container */

  color: var(--tertiary-color);
  background-image: linear-gradient(to top, rgba(0, 0, 0, 0.8), transparent);
}

main section:nth-of-type(2) ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

main section:nth-of-type(2) ul li {
  width: 10em;
  height: 10em;

  border-radius: var(--border-radius);
  overflow: hidden; /* this will hide the overflow of the element content*/
}

main section:nth-of-type(2) ul li img {
  transition: 0.5s;
}

main section:nth-of-type(2) ul li:hover img {
  transform: scale(1.2);
}

main section:nth-of-type(2) ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* *************** */
/* section 3 : map */
/* *************** */
/* the h2 style are already defined above in the "global styles"  */

main section:nth-of-type(3) > div {
  /* background-color: rgba(79, 161, 74, 0.5); */

  display: grid; /* this element is a grid container */
  grid-template-columns: repeat(2, 1fr); /* this will create 2 columns with equal width */
  grid-template-rows: 22em auto; /* this will create 3 rows with the first row height is 10em, the second row height is 15em and the last row height is auto */
  /* grid-template-areas: ; used to define the layout of the grid items using named grid areas *search for it if you want*/

  /* space between the rows and columns */
  /* column-gap: 1em; this will add a gap between the columns 1em */
  /* row-gap: 0.5em; this will add a gap between the rows 0.5em */
  /* gap: 1em 2em;  this will add a gap between the rows 1em and columns 2em*/
  gap: 0.5em; /* this will add a gap between the rows and columns 1em*/

  /* justify-items: ; this will align the items in the grid container horizontally */
  /* align-items: ; this will align the items in the grid container vertically */
  /* place-items:; /* this will align the items in the grid container both horizontally and vertically */
}

main section:nth-of-type(3) > div p {
  /* set the element in his grid place! */
  grid-column-start: 1;
  grid-column-end: -1;

  grid-row-start: 2;
  grid-row-end: 3;

  /* shortcut for the above properties */
  /* grid-column: ; the shortest way to define the grid columns of the element */
  /* grid-row: ; the shortest way to define the grid rows of the element */
  /* grid-area: ; the shortest way to define the grid area (columns & row or area name) of the element */

  /* grid child properties */
  /* justify-self: center; this will align the item in the grid container horizontally */
  /* align-self: center;  this will align the item in the grid container vertically */
  /* place-self: center; this will align the item in the grid container both horizontally and vertically */
}

main section:nth-of-type(3) > div ul {
  /* set the element in his grid place! */
  grid-column-start: 1;
  grid-column-end: -1;

  grid-row-start: 1;
  grid-row-end: 2;

  /* make the ul grid container */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: 10em 1fr;
  gap: 0.5em;
}

main section:nth-of-type(3) > div ul li {
  background-color: hotpink;
  border-radius: var(--border-radius);
  box-shadow: var(--box-shadow);
  overflow: hidden; /* this will hide the overflow of the element content*/
}

main section:nth-of-type(3) > div ul li:nth-of-type(3) {
  grid-column-start: 1;
  grid-column-end: -1;

  grid-row-start: 2;
  grid-row-end: 3;
}

main section:nth-of-type(3) > div ul li img {
  width: 100%;
  height: auto;

  object-fit: cover;
  object-position: center;
}

/* ******************* */
/* section 4 : tickets */
/* ******************* */

/* the h2 style are already defined above in the "global styles"  */

main section:nth-of-type(4) ul {
  padding: 0.5em 0 1em 0; /* top is 0.5em, right is 0, bottom is 1em, left is 0 */

  /* flexbox */
  display: flex;
  gap: 0.5em;

  /* scroll */
  overflow: auto; /* this will add a scrollbar to the element if the content need it on X or Y or both*/
  scroll-snap-type: x mandatory; /* this will make the scroll snap to the nearest element */
}

main section:nth-of-type(4) ul li {
  width: 10em;
  height: 8.5em;
  border-radius: var(--border-radius);
  background-color: var(--light-theme-color);

  /* stop shrink from parent element */
  flex-shrink: 0; /* this will prevent the element from shrinking */

  /* flex container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  /* scroll */
  scroll-snap-align: start; /* this will make the element snap to the nearest element when scrolling */
}

main section:nth-of-type(4) ul li h3 {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 2em;
}

main section:nth-of-type(4) ul li p:first-of-type {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 1em;
}

main section:nth-of-type(4) ul li p:last-of-type {
  font-family: var(--primary-font);
  font-weight: var(--regular-weight);
  font-size: 2em;
}

/* ************* */
/* footer styles */
/* ************* */

footer {
  padding: 2.5em 0; /* top and bottom padding is 2.5em, left and right padding is 0 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  background-color: var(--footer-bg);
}

footer nav {
  width: 15em;
}

footer nav h3 {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 1.5em;
  text-align: center;
  color: var(--tertiary-color);
}

footer nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  padding: 0.5em;
}

footer nav ul li a {
  display: block;
  width: 100%;
  color: var(--tertiary-color);
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 1em;
  text-align: center;

  line-height: 1.5em;
  /* line-height? */
  /* the line-height property specifies the height of a line box */

  text-underline-position: under;
  /* text-underline-position? */
  /* the text-underline-position property specifies the position of the underline */
  /* under value will place the underline below the alphabetic baseline */
  /* auto value is the default value and the browser will choose the best position for the underline */
}

/* ************ */
/* contact page */
/* ************ */
#contactPage > section {
  margin-bottom: 3em;
}

#contactPage > section:first-of-type a {
  width: 100%;
  height: 3em;
  text-decoration: none;
  font-family: var(--tertiary-font);
  font-weight: var(--bold-weight);
  color: var(--tertiary-color);
  background-color: var(--theme-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0.25em 0.25em var(--shadow-color);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
}

#contactPage > section a img {
  width: 1.25em;
  height: 1.25em;
}

#contactPage > section:nth-of-type(2) div {
  margin-top: 0.5em;
  display: flex;
  gap: 1em;
}

#contactPage > section:nth-of-type(2) div a:first-of-type {
  flex-grow: 1;
}

#contactPage > section:nth-of-type(2) div a:last-of-type {
  flex-grow: 2;
}

#contactPage > section:nth-of-type(2) div a {
  width: fit-content;
  height: 4em;
  text-decoration: none;
  font-family: var(--tertiary-font);
  font-weight: var(--bold-weight);
  font-size: 0.7em;
  background-color: var(--tertiary-color);
  color: var(--theme-color);
  border: solid 0.2em var(--theme-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0.3em 0.25em var(--shadow-color);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.8em;

  text-wrap: nowrap;
}

#contactPage > section:nth-of-type(2) div a img {
  fill: var(--theme-color);
}

#contactPage form {
  margin-top: 0.5em;
  padding: 1em;
  border: solid 0.13em var(--theme-color);
  border-radius: var(--border-radius);
  background-color: var(--form-bg);
}

#contactPage form label,
#contactPage form input {
  width: 100%;
  font-family: var(--secondary-font);

  border: none;
  border-radius: 0.3em;
}

#contactPage form label {
  width: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.3em;
}

#contactPage form input {
  background-color: var(--input-bg);
  height: 3em;
  text-indent: 0.8em;
}

#contactPage form label:has(input[type="email"]) {
  width: 100%;
}

#contactPage form fieldset {
  width: 100%;
  border: none;
  padding: 0;
  margin-bottom: 0.8em;
}

#contactPage form fieldset:first-of-type {
  display: flex;
  gap: 0.8em;
}

#contactPage form fieldset:nth-of-type(3) div {
  display: flex;
  justify-content: space-between;
}

#contactPage form fieldset:nth-of-type(3) div label {
  width: fit-content;
  font-size: 0.8em;
  /* the label has display flex in line 798 */
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

#contactPage form fieldset:nth-of-type(3) div input {
  width: 0.7em;
}

#contactPage form fieldset textarea {
  width: 100%;
  min-height: 10em;
  padding: 0.6em;
  margin-top: 0.3em;
  border: none;
  border-radius: 6px;
  background-color: var(--input-bg);
  resize: none;
  font-family: var(--secondary-font);
}

#contactPage form button {
  width: 13em;
  padding: 1em 0;
  text-align: center;

  font-family: var(--tertiary-font);
  font-weight: var(--bold-weight);
  font-size: 0.7em;
  color: var(--tertiary-color);
  background-color: var(--theme-color);
  border: solid 0.2em var(--theme-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0.3em 0.25em var(--shadow-color);

  position: relative;
  left: calc(50% - 13em / 2);
}

/* media */
@media screen and (min-width: 768px) {
  /* the min-width is the minimum width of the screen */
  /* the change will be applied when the screen width is greater than or equal to 768px */

  main {
    padding: 1.35em;
  }

  main section:first-of-type {
    justify-content: space-between;
  }

  main section:first-of-type > div:first-of-type {
    width: 22em;
    order: -1;
    /* gap: 1em; */
  }

  main section:first-of-type > div:nth-of-type(2) {
    width: calc(100% - 23em);
    height: 17em;
  }

  main section:nth-of-type(2) ul li {
    --size: 12em;
    width: var(--size);
    height: var(--size);
  }

  main section:nth-of-type(3) > div {
    grid-template-columns: 1fr;
    grid-template-rows: 11em auto;
  }

  main section:nth-of-type(3) > div ul {
    grid-template-columns: 0.4fr 0.4fr 1fr;
    grid-template-rows: 10em;
  }

  main section:nth-of-type(3) > div ul li img {
    height: 100%;
  }

  main section:nth-of-type(3) > div ul li:nth-of-type(3) {
    grid-column-start: 3;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  main section:nth-of-type(4) ul {
    justify-content: center;
  }

  footer {
    flex-direction: row;
  }
}

@media screen and (min-width: 1279px) {
  #toTop {
    display: none;
  }
  header {
    gap: 3em;

    padding: 0 19% 0 13%;

    position: fixed;
    top: 0;
    z-index: 9999;
  }

  header h1 {
    flex-shrink: 0;
  }

  header button:first-of-type {
    display: none;
  }

  header button:nth-of-type(2) {
    order: 1;
  }

  header nav {
    transform: none;
    position: static;

    width: 100%;
  }

  header nav > button {
    display: none;
  }

  header nav ul {
    flex-direction: row;
    justify-content: space-between;
  }

  header nav ul li {
    width: 10em;
  }

  header nav ul li a {
    font-size: 1em;
  }

  main {
    padding: 7em 20% 0 20%;
  }

  main section:first-of-type > div:first-of-type {
    width: 24em;
    height: auto;
    order: -1;
  }

  main section:first-of-type > div:nth-of-type(2) {
    width: calc(100% - 25em);
    height: 20.5em;
  }

  main section:nth-of-type(2) ul li {
    --size: 15em;
  }

  main section:nth-of-type(3) > div {
    grid-template-columns: 54% 45%;
    grid-template-rows: 11em;
    gap: 0.8em;
  }

  main section:nth-of-type(3) > div > p {
    grid-column-start: 2;
    grid-column-end: -1;

    grid-row-start: 1;
    grid-row-end: 2;
  }

  main section:nth-of-type(3) > div ul {
    grid-column-start: 1;
    grid-column-end: 2;

    grid-row-start: 1;
    grid-row-end: 2;

    width: 100%;

    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: auto;
  }

  main section:nth-of-type(3) > div ul li {
    /* width: 11em; */
    height: 9em;
  }
}

@media screen and (min-width: 1680px) {
  header nav ul {
    justify-content: center;
    gap: 2em;
  }
  main section:nth-of-type(2) ul {
    padding: 0 10%;
  }
}
