/* Note: contact page styles are after the footer styles */

/* fonts */
@font-face {
  font-family: "Delius";
  src: url(../fonts/Delius-Regular.woff2), url(../fonts/Delius-Regular.woff);
}

@font-face {
  font-family: "DeliusSwashCaps";
  src: url(../fonts/DeliusSwashCaps-Regular.woff2), url(../fonts//DeliusSwashCaps-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "DeliusUnicase";
  src: url(../fonts/DeliusUnicase-Regular.woff2), url(../fonts/DeliusUnicase-Regular.woff);
  font-weight: 400;
}

@font-face {
  font-family: "DeliusUnicase-bold";
  src: url(../fonts/DeliusUnicase-Bold.woff2), url(../fonts/DeliusUnicase-Bold.woff);
  font-weight: 700;
}

/* custom properties */
:root {
  --primary-font: "DeliusSwashCaps", cursive;
  --secondary-font: "Delius", cursive;
  --tertiary-font: "DeliusUnicase", cursive;

  --regular-weight: 400;
  --bold-weight: 700;

  --theme-color: #ce0000;
  --seconary-color: #000000;
  --tertiary-color: #ffffff;

  --website-bg: #ffffff;
  --light-theme-color: #ff8c8e;

  --header-bg: #ce0000;
  --form-bg: #ffffff46;
  --footer-bg: #333333;

  --border-radius: 0.5em;

  /* dark mode */
  /* --website-bg: #4d4d4d; */
  /* --header-bg: #838383; */
}

/* global styles */
html,
html * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/*   box-sizing? */
/* box-sizing property allows us to include the padding and border in an element's total width and height. */
/* By default, the width and height of an element is calculated like this:
width + padding + border = actual width of an element
height + padding + border = actual height of an element */

body {
  background-color: var(--website-bg);
}

h1 {
  font-family: var(--primary-font);
  font-size: 2em;
  font-weight: var(--regular-weight);
  margin: 0;
}

h1 span {
  color: var(--tertiary-color);
}

h2 {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  text-align: center;
  font-size: 2em;

  margin-bottom: 0.2em;
}

h2::first-letter {
  color: var(--theme-color);
}

p {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
}

h3 {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

/* TODO: delete this img styles later */
/* 1em = 16px */
img {
  width: 10em;
}

/* *************** */
/* header styles */
/* *************** */
header {
  width: 100%;
  height: 4em;

  display: flex; /* flex default direction is row */
  justify-content: space-between; /* default value is start */
  align-items: center; /* default value is stretch */
  padding: 0 1em; /* top and bottom padding is 0, left and right padding is 1em */
  background-color: var(--header-bg);
}

header button {
  --size: 2em;
  width: var(--size);
  height: var(--size);

  background-color: transparent;
  border: none;
}

header button:first-of-type {
  order: -1; /* default value is 0 */
}

header button img {
  width: 100%;
}

main section {
  width: 100;
}

/* *************** */
/* navbar */
/* *************** */
header nav {
  background-color: var(--theme-color);

  position: fixed; /* this will make the element position absolute in the body */
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;

  transform: translateX(-100%);
}

header nav > button {
  width: 4em;
  height: 4em;

  color: white;

  position: absolute;
  right: 2.5em;
  top: 3em;
}

header nav > button img {
  width: 60%;
}

header nav ul {
  width: 100%;
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1.5em;
}

header nav ul li {
  width: 17em;
  height: 3em;
  border-radius: var(--border-radius);

  display: flex;
  justify-content: center;
  align-items: center;
}

header nav ul li.active {
  color: var(--seconary-color);
  background-color: var(--tertiary-color);
}

header nav ul li.active a {
  color: var(--seconary-color);
}

header nav ul li a {
  text-decoration: none;
  font-family: var(--tertiary-font);
  font-size: 1.5em;
  color: var(--tertiary-color);
  text-transform: capitalize;
}

/* *************** */
/* main atyles */
/* *************** */

main {
  padding: 1em; /* padding around the main element for all sides */
}

/* ***************** */
/* section 1 : intro*/
/* ***************** */

main section:first-of-type {
  display: flex;
  flex-wrap: wrap;
  gap: 0.5em;
}

main section:first-of-type > div:first-of-type {
  width: 25em;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  gap: 0.5em;
}

main section:first-of-type div:first-of-type p:first-of-type {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 1.8em;
}

main section:first-of-type div:first-of-type p:nth-of-type(2) {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 1em;
}

main section:first-of-type > div:first-of-type div {
  width: 100%;
  height: 4em;

  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 1em;
}

main section:first-of-type > div:first-of-type div a,
main section:first-of-type > div:first-of-type div button {
  font-family: var(--tertiary-font);
  font-weight: var(--bold-weight);
  font-size: 0.8em;
  width: 50%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1em;
  border: solid 0.2em var(--theme-color);
  border-radius: var(--border-radius);
  box-shadow: 0 0.2em 0.5em rgba(0, 0, 0, 0.5);
  background-color: var(--tertiary-color);
}

main section:first-of-type > div:first-of-type div a img,
main section:first-of-type > div:first-of-type div button img {
  --size: 1.8em; /* this is a custom property for the size of the image */
  width: var(--size);
  height: var(--size);
}

main section:first-of-type > div:first-of-type div a {
  color: var(--tertiary-color);
  text-decoration: none;
  border: none;
  background-color: var(--theme-color);
}

main section:first-of-type > div:first-of-type p:nth-of-type(3) {
  font-size: 1.3em;
  font-weight: var(--bold-weight);
  text-align: center;
  order: 1;
}

main section:first-of-type > div:first-of-type ul {
  background-color: var(--light-theme-color);
  width: 100%;
  height: 3.5em;
  margin-top: 0.5em;
  order: 1; /* this element has flex parent so it can be ordered */

  display: flex; /* this element is also a flex container */
  justify-content: space-evenly;
  align-items: center;
  gap: 0.5em;

  border-radius: var(--border-radius);
}

main section:first-of-type > div:first-of-type ul li {
  width: 2.5em;
  height: 2.5em;
}

main section:first-of-type > div:first-of-type ul li img {
  width: 100%;
  height: 100%;
}

/* the cover image div  */
main section:first-of-type > div:last-of-type {
  order: -1;
  background-color: rgb(4, 0, 255);
  width: 25em;
  height: 17em;

  border-radius: var(--border-radius);
  overflow: hidden;
}

main section:first-of-type > div:last-of-type img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* ***************** */
/* section 2 : zones */
/* ***************** */

/* the h2 style are already defined above in the "global styles"  */

main section:nth-of-type(2) ul {
  display: flex;
  flex-wrap: wrap;
  gap: 1em;
  justify-content: center;
  align-items: center;
}

main section:nth-of-type(2) ul li {
  width: 10em;
  height: 10em;

  border-radius: var(--border-radius);
  overflow: hidden; /* this will hide the overflow of the element content*/
}

/* TODO: we wil fix this in the "Postions" les */
main section:nth-of-type(2) ul li h3 {
  color: var(--tertiary-color);
  display: none;
}
/*  TODO ****************************************/

main section:nth-of-type(2) ul li img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

/* *************** */
/* section 3 : map */
/* *************** */

/* the h2 style are already defined above in the "global styles"  */

/* ******************* */
/* section 4 : tickets */
/* ******************* */

/* the h2 style are already defined above in the "global styles"  */

main section:nth-of-type(4) ul {
  padding: 0.5em 0 1em 0; /* top is 0.5em, right is 0, bottom is 1em, left is 0 */

  /* flexbox */
  display: flex;
  gap: 0.5em;

  /* scroll */
  overflow: auto; /* this will add a scrollbar to the element if the content need it on X or Y or both*/
  scroll-snap-type: x mandatory; /* this will make the scroll snap to the nearest element */
}

main section:nth-of-type(4) ul li {
  width: 10em;
  height: 8.5em;
  border-radius: var(--border-radius);
  background-color: var(--light-theme-color);

  /* stop shrink from parent element */
  flex-shrink: 0; /* this will prevent the element from shrinking */

  /* flex container */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5em;

  /* scroll */
  scroll-snap-align: start; /* this will make the element snap to the nearest element when scrolling */
}

main section:nth-of-type(4) ul li h3 {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 2em;
}

main section:nth-of-type(4) ul li p:first-of-type {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 1em;
}

main section:nth-of-type(4) ul li p:last-of-type {
  font-family: var(--primary-font);
  font-weight: var(--regular-weight);
  font-size: 2em;
}

/* ************* */
/* footer styles */
/* ************* */

footer {
  padding: 2.5em 0; /* top and bottom padding is 2.5em, left and right padding is 0 */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 1em;

  background-color: var(--footer-bg);
}

footer nav {
  width: 15em;
}

footer nav h3 {
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 1.5em;
  text-align: center;
  color: var(--tertiary-color);
}

footer nav ul {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.7em;
  padding: 0.5em;
}

footer nav ul li a {
  display: block;
  width: 100%;
  color: var(--tertiary-color);
  font-family: var(--secondary-font);
  font-weight: var(--regular-weight);
  font-size: 1em;
  text-align: center;

  line-height: 1.5em;
  /* line-height? */
  /* the line-height property specifies the height of a line box */

  text-underline-position: under;
  /* text-underline-position? */
  /* the text-underline-position property specifies the position of the underline */
  /* under value will place the underline below the alphabetic baseline */
  /* auto value is the default value and the browser will choose the best position for the underline */
}

/* ************ */
/* contact page */
/* ************ */

form {
  padding: 3em;
}

form input:not(:last-of-type) {
  display: none;
}

form:has(input[id="1"]:checked) label[for="1"] {
  background-color: var(--theme-color);
  color: var(--tertiary-color);
}

form:not(input[id="2"]:checked) label[for="2"] {
  background-color: green;
  color: var(--tertiary-color);
}

form:has(input[id="2"]:checked) label[for="2"] {
  background-color: var(--theme-color);
  color: var(--tertiary-color);
}

section ul:not(:hover) li {
}
